*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* padding: 2em; */
    display: flex;
    justify-content: center;
    
}

.container{
    background-color:rgb(234, 229, 229);
    display: flex;
    /* padding: 2em; */
    /* flex-basis: 60%; */
    justify-content: center;
    gap: 2em;
    margin-top: 2em;
}
.column1{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    gap: 2em;
    padding: 2em;
}
.pageName {
    font-size: 2.4em;
    color: blue;
}
.button{
    background-color: hsl(217, 82%, 59%);
    border: 0;
    border-radius: 10px;
    color: white;
}
.column2{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.form-page{
    display: flex;
    /* background-color: blue; */
    /* gap: 2em; */
}

.form-page form{
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 2em;
    color: blue;
}
.All-input{
    font-size: 1em;
    
}

.inner-form{
    display: flex;
    flex-direction: column;
    
}
.empty1{
    flex: 1;
    /* background-color: aqua; */
}
.empty2{
    flex: 1;
    /* background-color: blueviolet; */
}
.image-in-column{
    flex:1;
    display: flex;
}
.inner-column1{
   flex: 1;
}

.inner-column1 img{
 background-color: white;
 height:7em;
 padding: 1em;
 border-radius:100px; 
}
.inner-column2{
    flex: 4;
    /* background-color: chocolate; */
    display: flex;
    flex-direction: column;
    padding: 1em;
 }
 .inner-row1{
    flex: 2;
    /* background-color: cornsilk; */
    display: flex;
    justify-content: space-between;
 }
 .inner-row2{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1.3em;
 }

 .inner-row2 span{
    background-color: aliceblue;
    font-size: 1.5em;
    padding: 4px;
    border-radius: 4px;
    color: blue;
 }
 .inner-row3{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: blue;
    font-size: 1.2em;
    gap:1em;
 }
 .icon{
    color: rgb(83, 78, 78);
 }

 .inner-row1-column1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
 }
 .inner-row1-column1 span{
    font-size: 1.4em;
    padding-left: 10px;
    background-color: pink;
    border-radius: 5px;
    color: white;
 }
 .inner-row1-column1 h2{
    color:rgb(51, 51, 74);
    font-size: 2em;
 }
